:root {
  --ff-primary: 'Poppins';

  --clr-darkbackground: #000a30;
  --clr-darkaccent1: #000d43;
  --clr-darkaccent2: #006cff;
  --clr-darkaccent3: #ff7200;
  --clr-darktext1: #101010;
  --clr-darktext2: #333333;

  --clr-lightbackground: ;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: var(--clr-darkbackground);
  font-family: var(--ff-primary), sans-serif;
}

/* Header */

ul {
  list-style-type: none;
  margin: 0; padding: 0;
}

a {
  text-decoration: none;
}

.nav-container {
  background: transparent;
}

.nav-mobile a {
  color: white;
}

.nav-mobile a:visited {
  color: white;
}

.nav-mobile a:active {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em;
}

.logo {
  color: var(--clr-darkaccent2);
  font-weight: 600;
}

.nav-mobile{
  position: fixed;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.9+0,0.3+100;Neutral+Density */
  background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-mobile__list {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3.5em;
}

.nav-mobile__link {
  font-weight: 600;
  font-size: 1em;
}

.nav-mobile__link:hover {
  color: var(--clr-darkaccent2);
}

.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 1000;
  padding: 0.5em 0;
}

.nav-open .nav-mobile {
  transform: translateX(0%);
}

.nav-open .black-gradient {
  opacity: 1;
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
  background: white;
  width: 1.5em;
  height: 2px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.nav-desktop {
  display: none;
}

/* Hero */
.hero {
  color: white;
  display: grid;
  padding: 2em 2em;
  padding-top: 0;
}

.hero::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: var(--clr-darkaccent1);
  top: 0;
  left: 0;
  z-index: -10;
}

.content {
  position: relative;
  height: 300px;
}

.content h1 {
  margin-top: 0.8em;
  margin-bottom: 0;
  font-size: 3em;
}
.content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 30px;
}

#hot-air-balloon {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  margin-bottom: 30px;
}

.background-with-wave {
  position: relative;
  display: grid;
  height: 300px;
}

#background-hero {
  height: 300px;
  width: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
}

/* Waves */
#wave1 {
  bottom: 0;
  margin-bottom: -5px;
  z-index: 2;
  position: absolute;
}

#wave2 {
  margin: 0; padding: 0;
  background: white;
}

/* General */
section {
  padding: 5em 2em;
  text-align: center;
}

.spaced-text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}

.button {
  background: var(--clr-darkaccent2);
  color: white;
  width: 215px;
  height: 25px;
  border-radius: 0.7em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: #0088ff;
}

/* Work */

.parent-work {
  margin-bottom: -5px;
}

.work {
  background: var(--clr-darkaccent2);
  position: relative;
  color: white;
  display: grid;
}

/* About */
.about {
  background: white;
  position: relative;
  color: var(--clr-darkbackground);
}

.left {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#portfolio {
  margin: 0 auto;
}

/* Services */
.services {
  background: white;
  position: relative;
  color: var(--clr-darkbackground);
  display: grid;
  justify-content: center;
  align-items: center;
}

.services p {
  color: #bababa;
  margin: 0;
  font-size: 14px;
}

.services h2 {
  margin-bottom: 8px;
}

.icon-container {
  margin: 1em 0;
}

/* --Card (nested within Services) */
.card {
  margin: 72px auto 0;
  width: 400px;
  height: 560px;
  perspective: 1000px;
  background: transparent;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card__inner::after{  /* Used to make the interactive box shadows */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  box-shadow: 0px 1em 4em 1em rgba(0, 0, 0, .3);
  transition: opacity 0.6s ease;
  border-radius: 16px;
}
.card__inner:hover::after {
  opacity: 1;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 4px 35px 4px rgba(0, 0, 0, .2);
}

.card__face--front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front img {
  width: 101%;
  height: auto;
}

.card__face--back {
  background-color: white;
  transform: rotateY(180deg);
}

.card__content {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 50px 0;
}

.card__body {
  padding: 25px 30px;
}

.card__body h3 {
  color: var(--clr-darktext1);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
}

.card__body p {
  color: var(--clr-darktext2);
  line-height: 1.4;
}

/* --Icon (nested within Card) */
#web-icon {
  width: 10em;
  height: auto;
  margin-top: 1.2em;
}

#ui-ux-icon {
  width: 10em;
  height: auto;
  margin-top: 1em;
}

#data-science-icon {
  width: 12em;
  height: auto;
  margin-bottom: -1.3em;
}

/* Contact */
.contact {
  background: var(--clr-darkbackground);
  position: relative;
  color: white;
  display: grid;
}